@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@model IPagedList<Transaction>
@{
    ViewData["Title"] = "Statement";
}

<div>
    <h1>Billpay transaction for all accounts</h1>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(x => x[0].TransactionID)</th>
            <th>@Html.DisplayNameFor(x => x[0].TransactionType)</th>
            <th>@Html.DisplayNameFor(x => x[0].AccountNumber)</th>
            <th>@Html.DisplayNameFor(x => x[0].Amount)</th>
            <th>@Html.DisplayNameFor(x => x[0].Comment)</th>
            <th>TransactionTime</th>
        </tr>
        @foreach (var transaction in Model)
        {
            <tr>
                <td>@Html.DisplayFor(x => transaction.TransactionID)</td>
                <td>@Html.DisplayFor(x => transaction.TransactionType)</td>
                <td>@Html.DisplayFor(x => transaction.AccountNumber)</td>
                <td>@Html.DisplayFor(x => transaction.Amount)</td>
                <td>@Html.DisplayFor(x => transaction.Comment)</td>
                @{ string localTime = transaction.TransactionTimeUtc.ToLocalTime().ToString(); }
                <td>@Html.DisplayFor(modelItem => localTime)</td>
            </tr>
        }
    </table>

    @Html.PagedListPager(Model, page => Url.Action("Statement", new { page }),
        new PagedListRenderOptions
            {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link" }
        })
</div>

<div>
    <a asp-action="Index">Back</a>
</div>